<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <Playwright>
    <BrowserName>chromium</BrowserName>
    <LaunchOptions>
      <Headless>false</Headless>
      <SlowMo>250</SlowMo>
    </LaunchOptions>
  </Playwright>
  <LoggerRunSettings>
   <Loggers>
     <Logger friendlyName="trx">
       <Configuration>
         <LogFileName>C:\TestResults\test.xml</LogFileName>
       </Configuration>
     </Logger>
   </Loggers>
 </LoggerRunSettings>
 <TestRunParameters>   
    <Parameter name="ResultsDirectory" value="C:\\TestResults" />
    <Parameter name="Logging" value="true" />
    <Parameter name="Tracing" value="OnFail" />
    <Parameter name="Screenshots" value="true" />
    <Parameter name="RetryCount" value="2" /> 
  </TestRunParameters>
</RunSettings>